          /* Some css Theme */
/* This one is the most bare-bones one */ 

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 0 10vw;
	background-color: #1e1e1e;
	color: ivory;
}

header {
	margin-bottom: 1rem;
	text-align: center;
}

#logo {
	color: #ad8020;
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 600;
}

#wrap {
	max-width: 80ch;
	margin-left: auto;
	margin-right: auto;
}

p, h1, h2 {
	color: aliceblue;
}

#md {
	background-color: #1e1e1e;
}
 
a, a:visited {
	color: #0d929b;
}

pre {
	padding: .5rem;
	max-width: 70ch;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #7a5b39;
	border-radius: 4px;
}
